header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}
  
header a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 1em;
    text-decoration-line: none;
    color: #fff;
    transition: 0.9s ease-in-out;
    text-align: center;
    font-family: 'got', 'Times New Roman', Times, serif;
    line-height: 40px;
    transition: ease-in-out 0.8s;
}

header h2 {
    padding-bottom: 30px;
    padding-right: 10px;
}

header a:hover {
    transform: scale(1.1);
}
  
.logo {
    width: 150px;
    filter: invert(102%)saturate(100%) hue-rotate(18deg) brightness(180%) contrast(190%); 
    filter: drop-shadow(2px 4px 8px rgb(241, 235, 235));
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 1000%;
    height: 100%;
}

.slide {
    width: 10%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~.s1 {
    margin-left: -10%;
}

#slide3:checked ~.s1 {
    margin-left: -20%;
}

#slide4:checked ~.s1 {
    margin-left: -30%;
}

#slide5:checked ~.s1 {
    margin-left: -40%;
}

#slide6:checked ~.s1 {
    margin-left: -50%;
}

#slide7:checked ~.s1 {
    margin-left: -60%;
}

#slide8:checked ~.s1 {
    margin-left: -70%;
}

#slide9:checked ~.s1 {
    margin-left: -80%;
}

#slide10:checked ~.s1 {
    margin-left: -90%;
}

p {
    color: #fff;
}