@font-face {
  font-family: 'got';
  src: url('../img/got.ttf');
}

body { /*body, contendo o wallpaper de fundo*/
  background-color: #09041a;
  background-image: url('../img/wallpaperok.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

header { /*posição da barra de navegação */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.opcoesNav { /*posição da barra de navegação */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'got', Times, serif;
  align-items: flex-end;
}

.opcoesNav img { /*tamanho e cor dos icones da barra de navegação */
  width: 100px;
  filter: invert(77%)saturate(26%) hue-rotate(158deg) brightness(208%) contrast(190%);
}

header a { /*detalhes barra de navegação */
  padding-right: 1em;
  text-decoration-line: none;
  color: #fff;
  transition: 0.9s ease-in-out;
}

header a:hover { /*detalhes hover barra de navegação */
  cursor: pointer;
  filter: invert(77%)saturate(26%) hue-rotate(158deg) brightness(208%) contrast(190%);
}

.equipe { /*icone gelo, direciona pra pagina da equipe */
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.logo { /*logo */
  width: 150px;
  filter: invert(22%)saturate(26%) hue-rotate(78deg) brightness(58%) contrast(19%);
}


.principal { /*sessão principal, onde se encontra o titulo e botão database*/
  font-family: 'got', Times, serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; 
  align-items: center;
  height: 700px; 
  color: #fff;
  width: 100%;
  line-height: 20px;
}

.principal a button{ /*botão 'database' */
  color: white;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(to right, #010102 0%, hsl(34, 74%, 40%) 31%, #000000 100%);
  padding: 12px 20px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 18px 0 18px 0;
  cursor: pointer;
}

.principal h1 { /*detalhes titulo */
  font-size: 5rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}


.sobre{ /*sessão sobre a série */
  color: #fff;
  width: 80%;
  text-align: center;
  margin: 0 auto;

}

.sobre h1{ /*sobre a série, titulo */
  margin-top: 80px;
  font-size: 3rem;
  font-family: 'got', Times, serif;
  margin-bottom: 30px;

}

.sobre p{ /*sobre a série, texto */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  line-height: 25px;

}

footer{ /*rodapé da pegina */
  margin-top: 80px;
  color: #fff;
  text-align: center;
}

footer h2{ /*texto do rodapé da pegina */
  padding: 40px 0;
  font-size: 1.1rem;

}

@media(min-width: 1450px){ /*responsividade telas 19" ou mais */
  .principal h1{
      font-size: 6rem;
      margin-top: 320px;
  }
}

@media(min-width: 1599px){ /*responsividade telas 19" ou mais */
  .principal h1{
      font-size: 6rem;
      margin-top: 280px;
  }
}


@media(max-width: 600px){ /*responsividade celular... ajeitar melhor */
  .logo{
      width: 100px;
  }

  .equipe{
      width: 30px;
  }

  .principal{
      line-height: 50px;

  }
  .principal h1{
      font-size: 3rem;

  }
}